<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Coding - </title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div id="root" class="container">
        <div class="navbar">
            <div class="logo">
                <img src="./assets/img/netflix.png" alt="">
            </div>
            <div class="search">
                <input type="text" v-model="query" placeholder="Search for film or Tv Series"
                    @keyup.enter="searchAFilm">
                <button @click="searchAFilm">Search</button>
            </div>
        </div>
        <main>
            <div class="films" v-if="films != 0">

                <div class="film" v-for="film in films">
                    <div class="card_back">
                        <div v-if="film.poster_path != null">
                            <img :src="'https://image.tmdb.org/t/p/w342/' + film.poster_path" alt="">
                        </div>
                        <div class="not_found_img" v-else>
                            <img src="./assets/img/image-not-found.png" alt="">
                            <span class="error_text"><strong>Sorry, image not found</strong></span>
                        </div>
                    </div>
                    <div class="card_front">
                        <h3><strong>Titolo: </strong>{{ film.title }}</h3>
                        <div v-if="film.title != film.original_title">
                            <h3><strong>Titolo Originale: </strong>{{film.original_title}}</h3>
                        </div>
                        <div v-if="film.original_language != 'en' && film.original_language != 'ja'">
                            <img :src="'https:www.countryflags.io/' + film.original_language + '/flat/32.png'">
                        </div>
                        <div v-else-if="film.original_language == 'ja'">
                            <img src="https:www.countryflags.io/jp/flat/32.png">
                        </div>
                        <div v-else-if="film.original_language == 'en'">
                            <img src="https:www.countryflags.io/gb/flat/32.png">
                        </div>
                        <div>
                            <strong>Media voto: </strong> 
                            <i v-for="star in parseInt(film.vote_average / 2)" class="fas fa-star"></i>
                            <i v-for="star in (5 - parseInt(film.vote_average / 2))" class="far fa-star"></i>
                        </div>
                        <div class="overview"><strong>Recensione: </strong> {{film.overview}}</div>
                    </div>

                </div>
            </div>
            <div class="series" v-if="series != 0">
                <div class="serie" v-for="serie in series">
                    <div class="card_back">
                        <div v-if="serie.poster_path != null">
                            <img :src="'https://image.tmdb.org/t/p/w342/' + serie.poster_path" alt="">
                        </div>
                        <div class="not_found_img" v-else>
                            <img src="./assets/img/image-not-found.png" alt="">
                            <span class="error_text"><strong>Sorry, image not found</strong></span>
                        </div>
                    </div>
                    <div class="card_front">
                        <h3><strong>Titolo: </strong>{{ serie.name }}</h3>
                        <div v-if="serie.original_language != 'en' && serie.original_language != 'ja'">
                            <img :src="'https:www.countryflags.io/' + serie.original_language + '/flat/32.png'">
                        </div>
                        <div v-else-if="serie.original_language == 'ja'">
                            <img src="https:www.countryflags.io/jp/flat/32.png">
                        </div>
                        <div v-else-if="serie.original_language == 'en'">
                            <img src="https:www.countryflags.io/gb/flat/32.png">
                        </div>
                        <div>
                            <strong>Media voto: </strong> 
                            <i v-for="star in parseInt(serie.vote_average / 2)" class="fas fa-star"></i>
                            <i v-for="star in (5 - parseInt(serie.vote_average / 2))" class="far fa-star"></i>
                        </div>
                        <div class="overview"><strong>Recensione: </strong> {{serie.overview}}</div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!-- VUE JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- AXIOS CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- MY JS FILE -->
    <script src="./assets/js/main.js"></script>
</body>

</html>